
/* VARIABLES */

$orange: #FF7F50;


/* MARGINS */

.no-mar {
  margin-bottom:0;
}

.mar-bt-3 {
  margin: 3rem 0 3rem;
}

.mar-r-l {
  margin: 0 5.5rem 0 0;
}

/* PADDINGS */

.no-pad{
  padding:0!important;
}
.no-pad-sides {
  padding-left:0!important;
  padding-right:0!important;
}
.pad-top-sm {
  padding-top: 0.6rem;
}


/* COLORS */
.col-orange {
  color:$orange;
}


/* TABLE */

.shiftCell {
  text-align: left;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $orange;
  display:inline-block;
  vertical-align:top;
}

.beginCell {
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.endCell {
  border-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

